<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_3DS_link_trade_bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_3DS_link_trade_bot.Properties.Settings>
            <setting name="IpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="discordtoken" serializeAs="String">
                <value />
            </setting>
            <setting name="botfc" serializeAs="String">
                <value />
            </setting>
            <setting name="Pokemonwanted" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gtsbool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wtbool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="botot" serializeAs="String">
                <value>pip</value>
            </setting>
            <setting name="bottid" serializeAs="String">
                <value>42069</value>
            </setting>
            <setting name="botsid" serializeAs="String">
                <value>42069</value>
            </setting>
            <setting name="Ribbons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="matchpokeball" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userpokeball" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="memes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trainerinfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="batchedit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendstatusmessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pingroleid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pingmessage" serializeAs="String">
                <value>Gen 7 Link Trade Bot is Online</value>
            </setting>
            <setting name="WTPChannels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WhoThat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Old3ds" serializeAs="String">
                <value>False</value>
            </setting>
        </_3DS_link_trade_bot.Properties.Settings>
    </userSettings>
</configuration>